<h1>Create a secret</h1>
<a href="/logout">logout</a> <a href="/secrets/index">home</a>
<form action="/secrets/new" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="text" name="secret" value="" placeholder="Write your secret here">
  <input type="submit" value="submit">
</form>
<h1>Secrets</h1>
<%@user_secrets.each do |secret|%>
<%=secret.secret%>
<form action="/secrets/delete/<%=secret.id%>" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="submit" value="delete">
</form>
<%end%>
<h1>Secrets liked</h1>
<%@secrets_liked.each do |secret|%>
<%=secret.secret%>
<%=secret.total_likes%> likes
<br>
<%end%>
