<h1>Secrets ;)</h1>
<a href="/logout">Logout</a>
<a href="/secrets/create">New Secret</a>
<%@secrets.each do |secret|%>
<br>
<%=secret.secret%><br>
<b>Likes:</b><%=secret.total_likes%><br>
<%if secret.user_id == session[:user]%>
<form action="/secrets/delete/<%=secret.id%>" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="submit" value="delete">
</form>
<%end%>
<form action="/secrets/like/<%=secret.id%>" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="submit" value="Like">
</form>
<%end%>
